# Backups
*.bk
*.bak
.DS_Store
.directory
**/.DS_Store
**/undo/
**/site/
**/cache/

# Cache Zsh
**/zsh/.zsh_history
**/zsh/local.zsh
**/zsh/.zcompdump*
**/zsh/.zcompcache/
**/zsh/.zsh_sessions/

# Plugins
**/tmux/plugins/
**/tmux/tpm/
